<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="portafolio/favicon.svg" />
		<link rel="icon" href="portafolio/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Bienvenido a mi protafolio web</title>
	</head>
	<body class="bg-[#4AC2A7]">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
